* {
  box-sizing: border-box;
}

  main{
    position: relative;
    max-width:100%;
    padding:7%
    font-family: Arial;
    text-align: left;
    max-width:1366px;
    min-height: 768px;
    background-color: white;
    padding-left: 10%;
  }




      h1{
        font-size:60px;
        position:relative;
        margin-top: 1%;
        /* text-align:right; */
        transform: 90%;
        padding-left: 60px;
        top:40;


      }
      h3{
        padding-left:60px;
        font-size:25px;

      }
      #tehuacan{
        position:relative;
        /* position:fixed; */
        display:block;
        height:auto;
        width:auto;
        margin: auto;
        justify-content: center;
      }


        .hidden {
          display: none;
        }

        .showing{
          display: block;
        }


        #parque{
            position: absolute;
            top: 53.5%;
            left: 33%;

        }
        #parque:hover{
          border: 10px solid lime;
          border-radius: 50px 50px 50px 50px;
        }


        article{
          display:block;
          padding: 20px;
          position: absolute;
          top: 10%;
          left: 60%;
          /* transform: translate(-50%, -50%); */
          text-align: center;
          /* width: 650px; */
          z-index: 100;
          /* max-width: 95ch; */
          margin-bottom: 30%;
          background-color: 000;
          color:white;
        }



        p{
          text-align: justify;
          width: 450px;
          position: relative;
          /* top: 50%; */
          left:10%;
          font-size:22px;

        }

        button{
          width:100px;
          font-size:20px;
          border-radius:5px;
          color:white;
          background:lime;
          padding:5px;
          text-align:center;
          border-color:none;
          position: relative;
          left:40%;
        }



        #catedral{
          position: absolute;
          top: 15.5%;
          left: 13.5%;
        }
        #catedral:hover{
          border: 10px solid deepSkyBlue;
          border-radius: 50px 50px 50px 50px;
        }

        #portales{
          position: absolute;
          top:37%;
          right:2.5%;
        }
        #portales:hover{
          border: 10px solid DeepPink;
          border-radius: 50px 50px 50px 50px;
        }



    footer {
      position:relative;
      justify-content: center;
      margin-top: 2em;
      padding: 1em;
      border-top: 5px lightgray dashed;
    }

    footer nav li a {
      line-height: 1.1em;
      display: inline-block;
      text-align: left;
      padding: .5em;
      color: #708090;
      display: inline-block;
    }

    footer a:hover {
      color: #333;
      padding: .5em;
      background-color: #00BFFF;
    }
