body {
    font-family: Arial;
    text-align: center;
    background-image: url('images/tehuacancentro2.png');
    background-repeat: no-repeat;
    background-position: top left;
    /* background-attachment:center; */
    padding-bottom: 1em;
}
#container {
    width: 800px;
    height: 547px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

#container div {
    position: absolute;
    width: 150px;
    height: 150px;
}

#container img {
    display: block;
    position: absolute;
    transition: all 3s ease;
}

#topleft {
    top: 0;
    left: 0;
}

#topright {
    top: 0;
    right: 0;
}

#bottomleft {
    bottom: 0;
    left: 0;
}

#bottomright {
    bottom: 0;
    right: 0;
}

#center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.start {
    width: 800px;
    left: 0;
    top: 0;
}

.topleft,
.topright,
.bottomleft,
.bottomright,
.center {
    width: 3768px;
}

.topleft {
    top: 0;
    left: 0;
}

.topright {
    top: 0;
    left: -2968px;
}

.bottomleft {
    left: 0;
    top: -2020px;
}

.bottomright {
    top: -2020px;
    left: -2968px;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
