{
	  box-sizing: border-box;
}

body{
	width: 90vh;
	height:100%;
	background-color:#2E2E2E;
  color:white;
	display: block;
}

h1{
  font-size:.8em;
  margin-left:4%;
}



#images{
  position: relative;
  width: 350px;
  margin:2px;
  margin-right:10px;
}


#images img{
  /* position:absolute; */
/*   left:0; */
}

#images img.top{
  -webkit-animation-name:FadeInOut;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-duration:5s;
  -webkit-animation-direction:alternate;
}

#images img.bottom{
  -webkit-animation-name:Fade;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-duration:5s;
  -webkit-animation-direction:alternate;
}

#images img.middle{
  -webkit-animation-name:FadeOutIn;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-duration:5s;
  -webkit-animation-direction:alternate;
}

@keyframes FadeInOut{
  0%{opacity:1;}
  /* 25%{opacity:1;} */
  50%{opacity:0;}
  /* 75%{opacity:0;} */
  100%{opacity:0;}
}

@keyframes FadeOutIn{
  0%{opacity:0;}
  /* 25%{opacity:;} */
  50%{opacity:1;}
  /* 75%{opacity:1;} */
  100%{opacity:0;}
}

@keyframes Fade{
  0%{opacity:0;}
  /* 25%{opacity:0;} */
  50%{opacity:0;}
  /* 75%{opacity:1;} */
  100%{opacity:1;}
}



 p {
	line-height: 1em;
  font-size:.75em;
}

strong{
    color: deepSkyBlue;
    margin:auto;
}

#first {
  display:flex;

  margin-left:16%;
  max-width: 80%;
  padding:0px;
  padding-top:2em;
  flex-direction:column;
/*   margin-right:5px; */
  justify-content:space-evenly;
}

#first p{
	width:100%;
	margin-left:2%;
	font-size:22px;
}

#first img{
	height: 30%;
	width:100%
}

section {
  width: 100%;
  font-size: 40px;
  font-weight: 100;
   display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 150px auto;
	/* padding: 25px; */
/* 	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75); */ */
}

article{
  display:flex;
  flex-direction:row;
  margin:auto;
}

.leftside{
  width:40%;
  margin-left:20%;
  height:50%
}

.rightside{
  width:50%;
  height:100vh;
  font-size:18px;

}

.rightside ul li {
	color:white;
	padding-bottom:10px;

}

.rightside a{
	color: white;
}


#squares{
   width: 100px;
   display: flex;
   flex-direction: column;
/*    align-items: center; */
   justify-content: flex-end;
   position:fixed;
   bottom:43%;
   left: .8%;
}

#squares div{
	margin-bottom:44%;

}
.square {
   width: 10px;
   height: 8px;
   background-color: gray;
   margin: 10px;
}
.square.focus {
   background-color: crimson;
   width:1em;
   height:1em;
}


#timeline{
  font-family: 'Roboto Slab', serif;
  font-size:14px;

  color:#D3D3D3;
  position: absolute;
	z-index: 10;
}

.timeline_wrapper {
	position:absolute;
  position: fixed;
  height:80px;
   padding: 0px;
   top: 160px;
   left:-1%;

   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-end;

}


nav ul li {
  content: '';
/*       display: block; */
      border-left: 2px solid white;
      border-top: 2px solid white;
      height: 30%;
      width: 20px;
}


nav li a {
    text-decoration: none;
	display: block;
	color:#A9A9A9;
	text-transform: uppercase;
/* 	font-weight: bold; */
	padding: 2px;
/* 	background: #9C9C9C; */
	white-space: nowrap;
/* 	overflow: hidden; */
	text-align: center;

  transition: all 0.15s ease-out;
}

a:hover{
  background-color: transparent;
  padding-left: 1em;
}

nav ul{
	list-style-type:none;
}

.selected {
  position: relative;
  padding:20px;
  transition: all 0.3s ease-out;
  margin-bottom: 1em;
  color: white;
  font-size:1.5em;

}
