@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 20px;
  background-color: #D8E2DC;
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.fka {
  width: 50%;
  margin: auto;
  background-color: #FFE5D9;
  border-radius: 10px;
  color: #605770;
}

header {
  background-color: #caf0f8;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#img-div {
  font-size: 14px;
  margin-bottom: 10%;
}

#caption {
  margin: auto;
  text-align: center;
  background-color: #E6E1EE;
  color: #605770;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
}

#background {
  background-color: #FFF5F0;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 30px;
}

h2 {
  display: inline;
  text-align: left;
  font-size: 30px;
  background-color: #D8E2DC;
  padding: 5px;
  margin-bottom: 20px;
  margin-right: 80%;
  border-radius: 10px 10px 0px 0px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

section {
  margin-bottom: 30px;
}

section p {
  text-align: left;
  background-color: #E9F5F4;
  padding: 30px;
  margin: auto;
}

h3 {
  background-color: #BF55A8;
  margin: auto;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#together {
  background-color: #E9F5F4;
  width: 100%;
}

.gallery {
  margin-top: 20px;
}

.bottom {
  height: 2px;
  background-color: #605770;
}

footer {
  font-size: 14px;
  text-align: center;
  border-top: 5px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin-bottom: 10px;

}

a {
  text-decoration: none;
  color: #BF55A8;
}

a:visited {
  color: #BF55A8;
}

a:hover {
  color: #FFCAD4;
}

a:active {
  color: #FFCAD4;
}