body {
    font-family: 'Helvetica', sans-serif;
    background: white;
    color:blue;
    line-height: 2.5em;
    height: 100vh;
    /* overflow-y: hidden; */
    margin-left:20%;
    margin-right:auto;
    max-height: 1366px;
    max-width: 768px;
    font-size:25px;
}

#instructions{
  background-color:orangered;
  justify-content: center;
  color:white;
  font-family:'Titan One', sans-serif;
}


h1 {
    font-size: 60px;
    line-height:1em;
    font-weight: 700;
    text-align:center;
    color: hotpink;
    font-family:'Titan One', sans-serif;
}

h2 {
    padding: 1px;
    font-size:18px;
}

/* css for showing/hiding instructions button +p */
.hidden {
  display: none;
}

.showing{
    display:inline;
    color:orangered;
    width: 40%;
    line-height:1em;
}


.close1{
    background-color:hotpink;
    font-size:18px;
}

p{
  font-size:15px;
  font-style:helvetica;
  width:60%;
  line-height:2em;
}



img {
    width: 20%;
    margin: 15px 0 15px 0;
}

/* instructions */
section {
    margin: auto;
    width: 60%;
    height: 390px;
    border-radius: 20px;
    background-color: rgb(240, 248, 255, .1);
    margin-top: 10px;
    padding-bottom: 30px;
}

button {
    padding: 20px;
    color: white;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: limegreen;
    transition: 300ms;
    font-size:18px;
}

#game{
  background-color:limegreen;
}
#game,
#actions {
    text-align: left;
    margin: auto;
    width: 30%;
    color: black;
    background-color: limegreen;
}

#gamecontrol{
  position: absolute;
  left:0;
  top:0;
  height:760px;
  color:blue;

}

#startgame {
  font-size:30px;
    height:768px;
    background-color:limegreen;
    font-family:'Titan One', sans-serif;
    letter-spacing: 0.2em;
    writing-mode: vertical-rl;
    text-orientation: upright;

}

#score {
    width: 7%;
    border-radius: 20px;
    margin-left: 10px;
    height: 275px;
    position:absolute;
    top:0;
    left:0;
    color:white;
    background-color:limegreen;
}


#rollagain{
  background-color:blue;
}
#pass{
  background-color:hotpink;
}




#quit {
    margin-left: 15px;
    background-color:orangered;
    position:absolute;
    bottom:150px;
    left:10px;
    font-size:40;
    font-family:'Titan One', sans-serif;
}

strong{
    color: blue;
    margin:auto;
}


a{
    color: blue;
    text-decoration: none;
}


footer {
  justify-content: center;
  border-top: 5px lightgray dashed;
  width:60%;
  margin-top:10px;
  font-size:18px;
}

  a:hover {
  color: #333;
  padding: .5em;
  background-color: #00BFFF;
}
