h1{
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 140px;
}

h2{
    line-height: 1px;
}

article{
    font-family: 'Noto Sans JP', sans-serif;
    padding-bottom: 50px;
    width: 550px;
}

div > #container{
    height: 1366px;
    width: 768px;
}

body{
    padding-left: 350px;
    padding-top: 170px;
}

p{
    line-height: 30px;
}


a{
    color: black;
}


footer{
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
}

footer a{
    padding-right: 110px;
}

#timeline{
  width:100px;
  flex-direction:column;
  align-items:center;
  justify-content:left;
  margin:auto;
  position:absolute;
  height:200px;
  left:0px;
}


.line{
  height:200px;
  width:10px;
  background-color:darkgrey;
  padding-left:10%
}
.square{
  display:flex;
  width:10px;
  height:10px;
  background-color:grey;
  margin-left: 10%;
  padding:10%;
}

.square.over{
  background-color: red;
}


p {
	line-height: 1.5em;
}

img {
	display: block;
	max-width: 100%;
}

section {
	width: 95%;
	margin: 0 auto 150px auto;
	padding: 25px;
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}






/* .selected {
	background: rgba(254,0,187,1.00);
	transition: all 1s;
}


@media only screen and (min-width: 700px) {

	/*************** Frist Section Styles ***************/
	/* #first article {
		display: flex;
		align-items: flex-start;
	}

	#first article img {
		margin-left: 25px;
	}

	/*************** Second Section Styles ***************/
	/* #second div, #fifth div {
		display: flex;
		justify-content: space-between;
	}

	#second article {
		width: 30%;
	}

	/*************** Third Section Styles ***************/
	/* #third article {
		display: flex;
		align-items: flex-start;
	}

	#third article img {
		margin-right: 25px;
	}

	/*************** Fifth Section Styles ***************/
	/* #fifth article {
		width: 47%;
	}

	#fifth {
		margin-bottom: 500px;
	}
}

@media only screen and (min-width: 1000px) {
	section, header nav {
		width: 960px;  */
